[2019-08-31 12:04] pventuzelo opened #1 ""Waiting for WASM" on AngryBots demo"
Hi,

Awesome work you have done ;) really looking forward to the defcon talk video.

I tried CETUS on AngryBots and it's stuck to the "Waiting for WASM" part.
AngryBots demo: https://beta.unity3d.com/jonas/AngryBots/

Also, can you explain how CETUS detect the current instance and memory related to WASM when the page is loaded?

[2019-08-31 15:35] Qwokka commented on #1
Hey @pventuzelo , thanks for the comment!

It looks like unfortunately AngryBots is not a WASM game. According to my (admittedly limited) understanding, there are actually two ways Unity3d can build games for the browser. The first is the newer WebAssembly-backed system and second is the older Javascript-based system. In the case of AngryBots they used the older version.

Cetus detects WASM binari

[2019-08-31 16:26] pventuzelo commented on #1
Oh my bad, you're right, it's not using WebAssembly.
Thanks for the details.

Patrick

[2019-08-31 16:26] #1 closed

[2019-08-31 16:29] pventuzelo opened #2 "Uncaught (in promise) TypeError: WebAssembly.instantiate() when after hooking FunkyKart demo"
Hi again,

i was trying CETUS on the [demo](https://www.funkykarts.rocks/demo.html) of the game FunkyKart but i got this error in my console:

![2019-08-31-182914_673x297_scrot](https://user-images.githubusercontent.com/9038181/64066686-41b4da00-cc1d-11e9-8d1c-22a4172a3fa5.png)

[2019-09-01 02:40] Qwokka commented on #2
Oops! Should be fixed with 56a1747b6be2f0985c589d99c327f8719b6e410f

Good catch, thanks!

[2019-09-01 17:54] pventuzelo commented on #2
it works ;) thx

[2019-09-01 17:54] #2 closed

[2019-09-02 08:01] pventuzelo opened #3 "Uncaught TypeError: Do not know how to serialize a BigInt on Tanks!"
Hi Jack,

When playing with cetus on Tank!, i triggered an "Uncaught TypeError: Do not know how to serialize a BigInt".

![2019-09-02-095837_446x207_scrot](https://user-images.githubusercontent.com/9038181/64098958-6b2e4c80-cd68-11e9-9c2d-372712f11d93.png)

Reproduction:
* go on http://webassembly.org.cn/demo/Tanks/
* search for 1000 / EQ / i64
* crash happened

[2019-09-06 16:31] Qwokka commented on #3
Sorry for the delay, this turned out to be a bigger issue than I expected.

This and a host of other BigInt related issues should be fixed with c02f59ff1fa65be18ec8c0cb3ad417bc00adee24

Thanks again for reporting this!

[2019-09-13 16:32] pventuzelo commented on #3
Good thanks ;)

[2019-09-13 16:32] #3 closed

[2020-01-22 15:10] fruitf opened #4 "Cannot enlarge memory arrays. / Out of memory"
When attempting to follow along with the demo or DEFCON talk, Web-Assembly aborts due to running out of memory.
[code]
I have tried to edit je json file's TOTAL_MEMORY using BurpSuite, although I have had no results.
This happens on both Firefox 73.0b5 (64-bit) & Brave Version 1.2.43 Chromium: 79.0.3945.130 (Official Build) (64-bit)

[2020-01-24 00:07] Qwokka commented on #4
Hey @fruitf, thanks for the report! I'm investigating it now. I haven't been able to replicate the problem yet so do you mind answering a couple questions to help me out?

First off, are you using the WASM demo at https://wasm.bootcss.com/demo/Tanks/ or another game?

Secondly, does this problem go away when Cetus isn't installed?

Thanks!

Jack

[2020-01-29 17:46] fruitf commented on #4
Hey @Qwokka! Sorry for the late reply, I can no longer replicate the problem, now instead the game always runs out of memory for me. I'm sorry to have wasted your time. I'll remake a ticket once I can replicate this.

Yes, I am using the WASM demo at https://www.wasm.com.cn/demo/Tanks/.
Although I have encountered different problems with other games.

Thank you and again sorry!

[2020-01-29 17:46] #4 closed

[2020-04-27 11:48] rxmzes opened #5 "Read Watch, Write Watch and "Find a function" don't budge"
I believe this worked as expected the very first wasm I tried this on.
Read Watch and Write Watch enabled would give me a list of function addresses, while Find a function would take an address and output a list of functions. Currently however, they all do nothing whatsoever. Tried in Chrome Dev, Chrome stable and Firefox on 3 different wasms. Am I doing something wrong?

Find an address (Health f

[2020-04-27 18:01] Qwokka commented on #5
Hey @rxmzes,

I think I've fixed the problem you were having with read/write watchpoints.

I'm having trouble replicating the issue with "Find a function". Can you take a look and see if this made a difference.

Thanks a ton for the report!

Jack

[2020-04-27 20:34] rxmzes commented on #5
Hi Jack,

Thanks for having a look so quickly. I was now able to successfully receive Reads just once, although I'm not sure if it was related to the update or due to my additional "trying to get it to work".

I have no clue what it might be - I've tried disabling all other extensions, using different Chrome builds and even Firefox, they all have this problem. I'm fairly confident that I'm not doi

[2020-04-27 21:30] Qwokka opened #6 "Instruction-Specific Stack Traces"
Changes to how stacktraces appear in WASM broke Cetus's ability to show the exact instruction in stack traces.

Stack trace entries now look like this:

`wasm-function[32469]:0x1499ed6`

where 32469 is the index of the function and 0x1499ed6 is the absolute address of the relevant instruction.

I'd like to support the old behavior but first we would need to be able to translate absolute address to

[2020-04-27 21:32] Qwokka commented on #5
Thanks for taking the time to check it out!

One other thing that comes to mind. I've seen cases where other code on a site will break Cetus in weird ways. Is there any way you can share one of the games you're working with either here or by email? I can't promise that's the issue but I'll check it out.

Either way I'll leave this open in case anyone else has similar issues.

Thanks again!

Jack

[2020-04-28 14:44] Qwokka opened #7 "Hex Dump in UI"
It'd be nice to have a view in the UI where you can scroll through memory (Like CE's Memory View).

[2020-04-30 18:38] Qwokka opened #8 "Support atomic load/store instructions"
A bunch of new instructions were added to WASM this year. As of right now Cetus watchpoints aren't injected for each atomic load/store instruction.

[2020-05-27 15:59] Qwokka opened #9 "wasmdec integration"
It would be very cool to integrate [wasmdec](https://github.com/wwwg/wasmdec) into the disassembler.

This would be especially useful since we could catch compiler errors in the patcher without having to restart the binary.

[2020-05-28 15:12] Qwokka commented on #8
Fixed with d1c4e430e2d11e7d3bbc61502dac2982e55d09bc

[2020-05-28 15:12] #8 closed

[2020-05-28 18:36] Berus008 opened #10 "Question"
Can i use with it any  web based game?

[2020-05-28 19:18] Qwokka commented on #10
Hey @Berus008,

Cetus will only work with games that are built with WebAssembly. So this won't include flash, java, or pure Javascript games.

A good way to tell if Cetus will work with a game is to load the game with Cetus enabled. If the Cetus window just says "Waiting for WASM" and never moves beyond that, it's probably not a WebAssembly game.

Hope that helps!

Jack

[2020-05-29 21:58] #10 closed

[2020-08-18 12:00] cecio opened #11 "Working on Str functions"
Hello!

First of all thanks for the great tool!

If you are interested, and if you are not doing it by yourself, I'm working on the string search functions.
I have a working prototype, but still WIP.

If you want we can discuss a bit on how you prefer to implement it: I started with my way, but may be it make sense to double check with you if it make sense at all :-)

Thanks,

[2020-08-18 14:09] cecio opened #12 "Check on "Bookmark" tab not working"
Hello.

Downloading the latest commit (not the release one which is working fine), I realized that there is an issue on the "Bookmark" tab: the check done on the "Freeze" and "Read Watch" are not working and the check on "Write Watch" enables the 3 checks.

Snooping around I see these 3 lines in view.js:

[code]

I'm not sure if I'm getting this right, because it's not very clear to me why it has

[2020-08-19 03:48] Qwokka commented on #12
Hey @cecio

Thanks! I'll include this fix with your string-related work so that both commits show up under your name

Jack

[2020-08-19 03:50] Qwokka commented on #11
Hey @cecio,

Thanks for doing all this. I like the changes you've made.

One thing I might note though is that Cetus is gonna get a pretty major UI overhaul in the coming weeks (It's actually be in the works for a while). So some of your changes might get reworked with that.

Do you mind turning your branch into a pull request?

Jack

[2020-08-19 07:46] cecio commented on #11
Hey!

Sure, I will make a pull request. Before doing it, I need to fix some things, and also I'd like to add some additional "search":

- search a specific string (not sure if it make sense, but it will be preparatory for the next one)
- search a specific byte sequence

Then I have also a couple of other things in mind, which will be part of a second "batch" (I was thinking about the memory browse

[2020-08-19 07:47] cecio commented on #12
Thanks!

[2020-08-19 13:37] cecio commented on #11
I pushed another version on my fork.
I changed a bit my mind during the review of the current logic of searches:

- I added 4 buttons: Numeric, StrAscii, StrUnicode and Byte Sequence.

I did this mainly for the following reasons:
- I kept the two search (unicode and ascii) separated, since the results should be treated differently by a watch (different memory alignment)
- right now I didn't added

[2020-08-20 06:31] TSSans-art opened #13 "Does this work on WebGL games from Unity?"
I have tried to use this on three separate WebGL Unity games, and I am unable to narrow down my search results. It always returns X results on the initial search, then the next search to narrow the results down always returns 0 results. I repeat the search using every size, same result. [Here is one of the games I tried](https://game317296.konggames.com/gamez/0031/7296/live/index.html)

Can anyone

[2020-08-20 07:55] cecio commented on #13
DISCLAIMER: I'm not the author of the tool, so you may want to wait a more qualified reply. That said...

This is what I tried on Chrome 84.0.4147.125 and Firefox 80.0b8 (Dev Edition).
- started the game
- went in Cetus control panel (via Developer Tools)
- ran first search (Value: 123, Comparison: EQ, Type: i8)
- Cetus returned around 77,000 entries
- ...waited a while...
- clicked again on "Sear

[2020-08-20 08:56] TSSans-art commented on #13
Thanks for the reply. I too am on Chrome 84.0.4147.125 (Official Build) (64-bit). When I follow your steps, I get the same result as you describe. The steps I am doing to try and find values is as follows:

- Get a few coins (12 for example)
- Set speed hack to 0 and enable it (pause)
- Search for (Value: 12, Comparison: EQ, Type: i8)
- Get 108520 or so results
- Disable speed hack (un-pause)
- Wa

[2020-08-20 11:47] cecio commented on #13
The only thing that came in my mind is to use differential search and then patience...to figure out what is doing what ;-)

Sorry, at the moment I don't have anything else that came in my mind, may me someone else has smarter suggestions.... :-)

[2020-08-20 15:03] cecio commented on #11
OK, I completed also the "Byte sequence" search...needs a bit of testing, but it looks more or less working.

If  you want to have a look...then let me know if you prefer I re-work something.

Then I can make a pull request.

Thanks,

[2020-08-30 07:59] TSSans-art commented on #13
I think it would be handy if you could export your bookmarks to a file, and add names for bookmarks. So you could label address **`0x0122f908`** as **`Gold`** and then save all that to a file that you can import back next time you load up that game. And maybe a way to add addresses to the bookmark tab, like a **`+ Add Bookmark`** button where you can just type in the address and type (and label) w

[2020-08-31 16:15] TristonStuart opened #16 "Not working in devtools"
For some reason, Cetus refuses to search properly when used in dev tools. I get "Searching..." forever.
I got an error from chrome in "updateStringSearchForm" with `const strType = stringData.strType` saying that "stringData.strType" was undefined. I also got an error "Extension Context Invalidated" with
`window.addEventListener("cetusMsgIn", function(msg) {
    chrome.runtime.sendMessage(msg.deta

[2020-08-31 16:25] cecio commented on #16
Hello.
Could you provide some more details on how to reproduce the problem?
Is the WASM app you are inspecting publicly  accessible? If so could you provide the URL and the steps you are following to get this behavior?
Also, it could help if you provide exact version of the browser you are using.
Thanks,

[2020-08-31 17:23] TristonStuart commented on #16
Ya sure!

Google Chrome:
Version 85.0.4183.83 (Official Build) (64-bit)

Windows:
Windows 10 Home 1903 18362.1016

Cetus Version:
Latest (re-installed)

Here is the wasm game I am trying to hack :
https://1v1.lol/

I am trying to do more complicated things but even basic searches aren't working. It was working a few weeks ago but now it just gets stuck on searching. To test it out just wait for th

[2020-08-31 17:24] TristonStuart commented on #16
I just wanted to note I tried again and it still isn't working but there are no chrome errors in the extensions page anymore.

[2020-08-31 17:33] TristonStuart commented on #13
I just wanted to answer this by saying yes it works well for unity wasm games.
As far as finding a gold value I actually recommend using cheat engine to find the value and then using cetus to find the wasm code. Cheat engine can give you a lot better sense of the memory you are dealing with. I would also recommend looking up tutorials on finding values with cheat engine that can change/be encrypte

[2020-08-31 19:56] TristonStuart commented on #13
Also, the values are stored as doubles. And for example, if you see 11.1B, the number stored isn't 11.1, its 11,100,000. So you probably want to find the values early game.

[2020-08-31 21:41] cecio commented on #16
May be I found something: I'm going to make a pull request with a little modification, then we need to wait the review of @Qwokka in order to have it validated. I'm not 100% sure this is going to fix your issue, but may be.

In the meantime, just to let you know: I saw that this WASM contains a tons of strings, so if you start a search with minimum length of 10 or 20, you are going to get thousand

[2020-09-01 00:09] Qwokka commented on #16
Looking at it I bet the issue @cecio fixed is at fault. Do you mind confirming if it works better now @TristonStuart?

Thanks!

[2020-09-01 00:27] Qwokka commented on #13
@TSSans-art This is a great idea. I'm going to add this as a separate issue so that I can track it. The main issue is making the changes in the UI. A friend and I are working on a pretty big UI overhaul as is so this may wait until that's complete.

In the meantime you can manually add bookmarks from the console like so:

[code]

So if you want to save a bookmark at address 0x41424344 of type "f32

[2020-09-01 00:28] TSSans-art commented on #13
@TristonStuart Thanks for the advice. I have been able to find the values I am looking for. Could you elaborate on this

Once I have the address then how can I find the wasm function?

[2020-09-01 00:29] Qwokka opened #18 "Import/Export Bookmarks"
Suggested by @TSSans-art

We should be able to import/export bookmarks from the UI.

As is we can manually add bookmarks with **cetus.addBookmark()** but this is a hassle.

[2020-09-01 02:51] TristonStuart commented on #16
Unfortunately, it doesn't fix the issue.
Here are some screenshots from the game :
https://i.imgur.com/8ltisFJ.png
https://i.imgur.com/0oH5zYx.png

As you can see it works fine with the normal extension background page but doesn't work in the chrome dev tools.
Although the results showed up if I completely close devtools and use the extension background page to redo the same search. Also just as a

[2020-09-01 03:37] TristonStuart commented on #13
Well you want to find the value in cheat engine, then pause the game and set the value to a low number, like 200. Then search it in cetus, then change it again with cheat engine. Do this till you find the right value. Then you can read/write watch it to find the wasm code that changes it

[2020-09-01 04:03] TSSans-art commented on #13
@TristonStuart

Yeah I thought you'd say that. I have tried read watch/watch write in that tank game and it seemed to work fine there. In [this game](https://game317296.konggames.com/gamez/0031/7296/live/index.html) though (the game I linked in my original issue), finding the gold value (always seems to be 0x0122f908), using freeze, read watch and write watch doesn't give me any stack trace of fun

[2020-09-01 04:04] Qwokka commented on #16
@TristonStuart Thanks for the screenshots! That helped a lot. This appears to only be an issue when the dev tools window is popped out into its own window. I have a hunch where the problem is so I'm going to work on a fix.

In the meantime you _should_ be able to use Cetus normally with any of the "Dock side" settings in Chrome except for "Undock to separate window"

[2020-09-01 04:08] Qwokka commented on #13
@TSSans-art I just tested setting a watchpoint on the gold value and I'm getting the same behavior. I'll push a fix tonight or tomorrow. Sorry about that!

[2020-09-01 04:12] TristonStuart commented on #16
thanks for the reply I didn't think that it being undocked may be the issue! hope you can find a fix

[2020-09-01 04:20] Qwokka commented on #16
Should be fixed with 8aa41630aa590538fbfba0621bbcfaddb0012262

[2020-09-01 05:25] TristonStuart commented on #16
@Qwokka Search doesn't seem to be working at all anymore.

[2020-09-01 05:47] TristonStuart opened #19 "[Enhancement] Show read / write functions like cheat engine does."
Instead of listing each time a function reads/writes an address, just list it once and have a counter next to it, like how cheat engine does. You should also add a button to clear to list.

[2020-09-01 14:57] Qwokka commented on #16
@TristonStuart I'm having trouble replicating this but I pushed a change that may help.

When you say search doesn't work at all, do you mean from the popup? Or a docked dev tools panel?

On my current set up both work so if you're still having issues I'm curious.

[2020-09-01 15:52] TristonStuart commented on #16
@Qwokka Ya it's not working in anything. Just gets stuck on searching. If you have any ideas for how you want me to try and debug this I would be happy too. I know javascript pretty well. I assume for some reason my google chrome is just not communicating between pages. Anyway here is a picture showing off what I mean: https://i.imgur.com/nFCJhe5.png

[2020-09-01 16:06] TristonStuart commented on #16
Just wanted to confirm to you that this code executes fine:
`const sendContentMessage = function(type, msgBody) {
    const msg = {
        type: type,
        body: msgBody
    };

    // We do not query currentWindow because a detached dev tools panel may break
    // this assumtion. See issue #16
	chrome.tabs.query({ active: true }, function(tabs) {
		const activeTab = tabs[0];
        try {

[2020-09-01 16:13] TristonStuart commented on #16
https://i.imgur.com/Wf717Bp.png

[2020-09-01 16:20] TristonStuart commented on #16
Well, I think I finally found an error I can help you out with.
Here is the screenshot:
https://i.imgur.com/eH479Zc.png

[2020-09-01 16:26] TristonStuart commented on #16
Ok well, it turns out you can't reload your extension without reloading chrome because of how your chrome extension works. Completely closed chrome and boom it works. Lmao such stupid errors. Anyways thanks for the help. Ill close this error and if I run into any more errors ill make a separate issue.

[2020-09-01 16:26] #16 closed

[2020-09-01 16:56] TristonStuart opened #20 "Save Patch Not Working in Dev Tools"
Kinda what the title says.
I'm using google chrome, the newest version.
And the game I am testing on is https://1v1.lol/.
It works with the extension popup but not dev tools.

Note: I have got searches to work.

[2020-09-01 17:50] TristonStuart opened #21 "Default Patch Preventing WASM Execution"
I was trying to patch in some wasm and I kept running into errors when the game would try to load it. I thought this was to me being terrible at writing wasm but I tried patching the function without changing anything and it still gives me an error. Here is a screenshot of the error: https://i.imgur.com/wGZWODw.png

The function I am trying to patch is function `88266`. It is in this game: https:/

[2020-09-01 17:53] TSSans-art commented on #13
@Qwokka I'm so glad to hear that, thanks!

[2020-09-02 03:00] Qwokka commented on #13
I believe I've got this fixed with 55089102c097c6fe3f7d0aef8709a1dba0344478. I was able to find the gold value and set read/write/freeze on it without errors.

This was a bit of a big improvement that I've been procrastinating on for a while. So there may be some bugs to shake out, but it seems reliable in my testing.

[2020-09-02 23:49] TSSans-art commented on #13
@Qwokka Ah yes it does seems to work now. Thanks so much for that, this is a great tool

[2020-09-08 03:11] Qwokka commented on #21
Should be fixed with 24b2ea17a5c2114f0adbc3900ea5a0295fc8184a. Sorry about that!

[2020-09-08 03:21] Qwokka commented on #20
In the future we should definitely support saving comments, but for now the assembler should ignore comments that start with "//" to avoid this. Should be working with 2bca3ffef0c050d9081eb6f7561f77cd8b18494f

[2020-09-08 03:22] Qwokka commented on #13
I'm gonna close this but feel free to reopen or create a new issue if you have other problems. This game was a great example of a few different edge cases so it was fun to look at.

[2020-09-08 03:22] #13 closed

[2020-12-15 12:07] tobilap opened #24 "Cannot read property 'memory' of undefined"
Cetus is great. Works fine with the Tank example. Now taking it to a different application I ran into some issue.

When running it Cetus is stuck at waiting for WASM , I assume its because the application doesn't continue loading when Cetus is active.

`Uncaught (in promise) RuntimeError: abort(TypeError: Cannot read property 'memory' of undefined). Build with -s ASSERTIONS=1 for more info.`

Runn

[2020-12-15 19:25] Qwokka commented on #24
Hey @tobilap

Thanks for reporting this. It should be working now with cd2d931ec2b219e28a6291766124558aa7344561. This fix probably helps support a lot of other games too. Let me know if you still have trouble!

Jack

[2020-12-18 17:15] #24 closed

[2020-12-18 17:15] #21 closed

[2021-02-23 23:21] reemps opened #26 "Question - Can I use Cetus to change the currency value on a multiplayer game?"
I know nothing about coding. I tried this on [MovieStarPlanet2](https://www.moviestarplanet2.pl/), got to the point where I could search for values, but wasn't able to do anything with what showed up.

[2021-02-23 23:52] TSSans-art commented on #26
Can you elaborate? Did you find the address you were looking for, but freezing/altering the value didn't do anything? Or were you not able to find the right addresses? I don't know if this project is still in development, but dev might push an update if there is some error

[2021-02-24 00:09] reemps commented on #26
I couldn't find the address for the in-game currency. I searched for an equal value for the amount of "coins" that I had, but there were too many results and I don't know how to narrow it down to the right one.

[2021-02-24 01:32] TSSans-art commented on #26
I doubt it would work for multiplayer games, but you can still try. Once you have searched for the coin value, assuming you're on the right value type, you just need to change the value of coins by spending some or something. Then do another search for the new value and this should reduce the amount of results

[2021-02-24 02:33] reemps commented on #26
There might just be too much in the game. I'm still getting around 500 results every time I buy something. Thanks for the tips though, I think I'll just mess around with it for now.

[2021-02-24 02:36] Qwokka commented on #26
Hi @reemps

I gave this a shot and I'll try to explain my process. **Before you try any of this, I highly recommend you use an account you don't mind getting banned.**

I created a new account. This starts you off with 750 coins. Then in Cetus I searched for 750. Make sure the settings for the search are:

- Comparison Operator: EQ
- Value Type: i32
- Only aligned addresses?: yes

Just like @TSSan

[2021-02-24 02:48] reemps commented on #26
@Qwokka
What's "only aligned addresses"? I don't see that option on the search tab. When I was at 1250 coins, I got tons of results... could that be why? Thank you for the reply even though it is a bit of a bummer :p

[2021-02-24 02:50] Qwokka commented on #26
Depending on the version of Cetus you're using you may not see the aligned addresses option. Either way, the steps should be the same (Skipping that option of course).

The trick is that you need to do 2 searches to narrow down the results. In my example I used 750 and then 1250. But in your case it could be something like: start at 1250, buy something worth 250 so your coins go down to 1000, then

[2021-02-24 02:51] reemps commented on #26
Alright ill give it a try, thanks!

[2021-02-24 03:04] reemps commented on #26
@Qwokka You're right. It works, but it only visually freezes the value.

[2021-02-25 16:02] TSSans-art commented on #26
Patch what?

[2021-02-27 19:01] Qwokka commented on #26
Hi @reemps

Sorry, I missed the second part of your message.

It's possible you'd be able to manipulate the gold but there's probably not a generic method of doing it. The next step would probably be reverse engineering the parts of the game that are associated with the coins, but that's not a trivial process.

The "Read Watch" and "Write Watch" features are probably the best starting point if you

[2021-02-27 19:17] reemps commented on #26
@Qwokka
I really appreciate your help on this. How do read and write watch work? Just checking the boxes don't seem to do anything so I'm definitely missing something here.

[2021-04-27 09:14] ramines opened #27 "Game not load"
[code]

[2021-05-02 23:01] Qwokka commented on #27
Hi @ramines

Sorry for the delay, I've been moving and haven't been on the computer much.

What game isn't loading for you?

Jack

[2021-05-03 11:14] ramines commented on #27
its an online game. sorry i can share name. I installed cetus on chrome but game stop loading

[2021-05-04 17:08] TSSans-art commented on #27
Trying to cheat in an online game? What a fucking prick

[2021-05-05 00:03] Qwokka commented on #27
@ramines messaged me privately to say he worked this one out.

It's ok, we're all cheaters here :)

[2021-05-05 00:03] #27 closed

[2021-09-07 03:10] timfaner opened #29 "[Enhancement] Freeze two variables at once."
Freeze more than one variables at once . It is useful to handle time related variables

[2021-09-09 04:58] Qwokka commented on #29
Added to the v1.1 milestone, thanks!

[2021-09-09 09:56] timfaner commented on #29
Cool, are there any roadmap for v1.1 ?

[2021-09-10 22:31] Qwokka commented on #29
It's in the works but I haven't had much time to work lately. Tigran, the UI designer, finished a big overhaul that I need to finish implementing, but that's a huge roadblock out of the way for 1.1 at least.

[2021-12-18 01:01] JackieWeiss opened #30 "Uncaught (in promise) TypeError: Cannot read properties of undefined"
With Cetus enabled the error gets thrown and the game gets stuck on the loading screen and never fully starts. Game works fine without Cetus.
Using Chromium and tested with both the 1.02 version and the master version.
[Game](https://games.nakamoto.games/free/alien-apocalypse/)

[2021-12-19 21:47] Alissonerdx commented on #11
is it possible to change the strings?

[2021-12-20 02:17] Qwokka commented on #30
Hi @JackieWeiss

This appears to be fixed with 292178c5c3cfb73d18e41b536765e522d5b0d426 and a067515a4cd27ab9f50331b2e8a19c41e2a9f8a2

Thanks for the report!

[2021-12-20 02:26] Qwokka commented on #11
Hi @Alissonerdx

There's nothing in the GUI that will let you modify strings, but you can do this with a little bit of Javascript. Here's a little example function that will write an ASCII string to an address.

[code]

Keep in mind though that if you attempt overwrite a string with a larger string, you may overwrite other values in memory. This would have unpredictable results. Hope it helps anyw

[2021-12-20 02:37] Alissonerdx commented on #11
@Qwokka So I managed to change it directly by taking the address that was found in cetus and then going straight to the unity heap, thanks for the reply. Here's the simple code I made similar to yours. `function(memoryWalletsBeginPositions, newWallet) {
        let arrayNewWallet = window.uft8ToDecimals(newWallet);
        memoryWalletsBeginPositions.forEach((value, index) => {
            for(var

[2021-12-20 02:38] Qwokka commented on #11
Glad you got it working, thanks for sharing you code!

[2022-01-07 14:47] vlassev opened #31 "Speed Hack values"
Hi, it is possible to put some speed values between 0 and 1 for slowing down the game?
Thanks!

[2022-01-07 20:22] Qwokka commented on #31
Hey @vlassev

You can set the speedhack to any arbitrary speed by setting the variable `cetus.speedhack.multiplier` from the Javascript console. For example, you can set the speed to .5 with this command:

[code]

Let me know if you have any trouble!

[2022-01-07 20:22] #30 closed

[2022-01-09 07:42] vlassev commented on #31
It works perfect!
Many Thanks!!!

[2022-01-10 04:59] #31 closed

[2022-01-16 13:04] jerlam06 opened #32 "Cannot use floating point numbers for patching"
Hello,

I noticed that every time I use a floating point number in my patches, it gets transformed into an integer.
I added this line: `f32.const 0.2`, then saved the patch. When I open it again the line is changed to: `f32.const 0`.
Why is that?

[2022-01-16 21:23] Qwokka commented on #32
Hi @jerlam06

This should be fixed with 5b2e4bd0bf15555123580a37817eee421f11cd1d. Let me know if you have any issues. Thanks!

Jack

[2022-01-16 22:18] Markkop commented on #29
Hey, @Qwokka. This extension is great, nice work!
I was looking on how could I contribute to have this multiple variables freezing, but couldn't find an easy way to implement it. It looks like that setting `MAX_WATCHPOINTS` to more than 1 should work, but it might be missing some extra code, idk.
Let me know if you have an idea on how can I help

[2022-01-17 17:28] jerlam06 commented on #32
Hi @Qwokka
Thanks for your quick fix, I cloned your branch and unfortunately I get an error:
[code]

[2022-01-17 17:34] #32 closed

[2022-01-17 17:58] Qwokka commented on #29
Hi Marcelo,

Thanks for asking about this. Thanks for taking the time to take a look at
this! Unfortunately it's a bit complicated to do this in an efficient way.
Essentially, as it's done right now a single watchpoint consists of:

4 GLOBAL entries:
    - One containing the address being watched
    - One containing the "known" value at the address
    - One containing the size of being watched (

[2022-01-27 16:34] zorelix opened #33 "waiting for wasm"
always waiting for WASM i install it correctly but i cant use it

[2022-01-27 16:37] Qwokka commented on #33
Hi @zorelix

Can you give an example of a game that you're trying to use Cetus with?

Jack

[2022-01-27 16:39] zorelix commented on #33
gala games

[2022-01-27 16:40] zorelix commented on #33
what game does the program work? only unity based games?

[2022-01-27 16:44] Qwokka commented on #33
Cetus _should_ work on any in-browser games that use WebAssembly. I'm not familiar with Gala Games so I'll take some time to see if it qualifies.

If Gala Games uses WebAssembly and Cetus isn't working with them, that's a bug and I'll do my best to fix it.

Jack

[2022-01-27 16:46] zorelix commented on #33
the game was called Town Star idk if its running or not with webassembly is there a way to check if the game is running with WebAssembly?

[2022-01-27 16:54] Qwokka commented on #33
I just took a look. Town Star is definitely a WebAssembly game so this is a bug. I'm going to tag this issue as a bug and try to fix it ASAP.

Thanks for bringing this to my attention!

Jack

[2022-01-27 17:53] Qwokka commented on #33
This should be fixed with cc25cb81ed37b09e7b4b8b7efb05938d81e1d7a8 but I'll let you give it a shot before I close this.

Jack

[2022-02-15 13:55] #33 closed

[2022-02-15 13:56] zorelix opened #34 "install"
did i install it right?

![image](https://user-images.githubusercontent.com/65364734/154076249-d0f64ea5-1680-4bda-96f6-a0031fe22aa1.png)

![image](https://user-images.githubusercontent.com/65364734/154076277-4c579a7b-24dd-4974-855a-01a62a45e685.png)

[2022-03-30 15:31] Blakiemon opened #35 "Wasm stuck and won't load"
In a game I'm trying to mod I get this error message in the console when loading
![image](https://user-images.githubusercontent.com/47361570/160873141-f705159b-1ec0-4d4e-b5e7-7c658a00c147.png)

[2022-03-30 19:34] Qwokka commented on #35
Hey @Blakiemon

Are you using the git version of Cetus or the latest release? This should be fixed in the git version. Please let me know if you're still having issues. Thanks!

Jack

[2022-04-01 00:49] Blakiemon commented on #35
I'm using the release version v1.02

[2022-04-03 00:16] Qwokka commented on #35
Can you give the git version a try and see if it works? Should just require the following:

[code]

Then you can load the extension from the cloned directory.

[2022-04-09 19:56] Kirmo13 opened #36 "Cetus never stops searching"
Title says it all,
I recently installed Cetus (from git clone..) and I tried following the tutorial step by step just to get some familiarity with it.  However, Cetus never returns anything when I search for a value. It just keeps searching indefinitely. How can I solve this?

Screenshot just shows what I see on my computer.
![Screenshot 2022-04-09 215401](https://user-images.githubusercontent.com

[2022-04-09 21:16] Qwokka commented on #36
Hi @Kirmo13

Can you try again on this game? http://webassembly.org.cn/demo/Tanks/

If it works okay on the tank game, the issue is probably with the specific game you're testing. I can look into it if you're okay sharing the game.

On the other hand, if searching is still broken on the tank game, I'd need to know the following:

* What browser are you using?
* Are there any errors in the browser

[2022-04-13 00:34] u9wy commented on #36
Hi @Qwokka ,

I also have the same problem. When i attempt to make a search it just doesn't work and i also cannot select different variable types. Reinstalling doesn't help.

I'm using this version: https://github.com/Qwokka/Cetus/issues/35#issuecomment-1086747510

[2022-04-13 01:17] Qwokka commented on #36
Hi @u9wy

The only reason the "Value Type" selector should be disabled is if a search is currently in progress. When this happens, is there any output below the "Search" button? At minimum, it should have the "Restart Search" button which should unfreeze the search when clicked.

Also, do you have the same problem on the demo game I linked above?

Jack

[2022-04-13 01:21] u9wy commented on #36
Hi @Qwokka .

Theres no output it only displays "searching" and yes the issue was present in the tank game as well. Funny enough i rolled back to version 1.2 and everything was working fine. Which is unusual because before i was having the same issue in the link i pasted in my previous comment.

[2022-04-13 02:15] Qwokka commented on #36
Thanks for the info. If you don't mind I'll ask a couple more questions to try to figure out what the issue is.

* What browser are you using?
* If using chrome, does the red "Error" button appear under the Cetus extension at the page `chrome://extensions/`?
    * If so, can you copy the contents of this error page here?
* If using firefox, you can go to the page `about:debugging#/runtime/this-fir

[2022-04-13 12:38] u9wy commented on #36
Hi @Qwokka ,

I'm using Chrome 100.0.4896.64

Below is the error i get from the extension.
`{
    "name": "Cetus",
    "version": "1.03",
    "description": "Dynamic analysis extension for WASM",
    "manifest_version": 2,
    "content_scripts": [
        {
            "js": ["content/content.js"],
            "matches": ["<all_urls>"],
            "all_frames": true,
            "run_at": "docume

[2022-04-14 15:53] Qwokka commented on #36
Just guessing based on that Chrome version but are you using ChromeOS? I've only tested Cetus on Chrome for Windows/Linux so it's possible there's issues with different OS's I haven't encountered.

If that is the case I'll try to get ChromeOS set up and fix whatever's going on.

[2022-04-14 15:54] u9wy commented on #36
@Qwokka  Yes i'm using chrome os, I was using Cetus without any issuse before however.

[2022-04-15 17:37] BoomBoomMushroom opened #37 "Uncaught TypeError: Cannot read properties of undefined (reading 'buffer')"
After trying to search for the value 100 I get this error in the extentions
I am using Opera GX and I have tried this in Chrome
The search also never ends

When I add the extension I get this error:
[code]

Console error when I search:
[code]

Extention Error:

Context
https://primerlearning.org/
Stack Trace
content/cetus.js:51 (memory)
content/cetus.js:146 (search)
content/cetus.js:505 (anonymous

[2022-04-15 18:12] Qwokka commented on #37
Hi @BoomBoomMushroom

I think this is fixed now with 247a5ae28b9b39163ce3b8e2a4115be058c68d50. Please let me know if you still have issues.

Thanks!
Jack

[2022-04-15 21:20] #37 closed

[2022-04-17 03:00] almog-co commented on #36
Can confirm this happens on Firefox with this game https://primerlearning.org/. However, works fine on tank game.

[2022-04-17 03:42] Qwokka commented on #36
Hey @almog-co

What version of Cetus are you using? I fixed a bug with  primerlearning.org yesterday (#37). If you're still having trouble with it on the latest version, can you open a new issue?

On another note, we've pretty much hijacked this issue from the original submitter, so I'm going to close it and open an issue unique to incompatibilities with Chrome OS.

@Kirmo13 please feel free to re

[2022-04-17 03:42] #36 closed

[2022-04-17 03:44] Qwokka opened #38 "Cetus does not work on Chrome OS"
As discovered in #36, most Cetus features fail on Chrome OS. I've reproduced this issue but haven't found the root cause yet.

[2022-04-24 00:31] Qwokka commented on #38
Strange behavior here. I bought a used Chromebook specifically to debug this issue. Last week I tested Cetus on it and it failed as described above. Testing it now, though, Cetus seems to work fine.

Can any Chromebook users confirm the problem is still occuring?

[2022-04-24 00:32] #34 closed

[2022-04-25 13:48] hidotp opened #39 "Cetus crashes Unity startup"
When I try to start a WebGL Game made with Unity it keeps it stuck at 95% in loading screen and this error:
![image](https://user-images.githubusercontent.com/38942179/165101740-dd8cb86f-3308-4647-b34f-8d6b0bb8cf5b.png)

Upon startup I also get this error:
![image](https://user-images.githubusercontent.com/38942179/165101995-5f4c16fe-ff66-4ae4-a566-5827f1874e7a.png)

Using the newest version of th

[2022-04-25 20:08] hidotp commented on #39
![image](https://user-images.githubusercontent.com/38942179/165166509-80509b4a-6db0-4bad-85d0-c64b84de2118.png)
And this one intercepts

[2022-04-26 03:36] Qwokka commented on #39
Hey @hidotp

I think this is fixed with cd7e42f0b6e9ad0ddd6f796b543017140409173a. Can you give it a shot and let me know if you're still having issues? Thanks!

Jack

[2022-05-03 12:45] #39 closed

[2022-05-03 12:45] hidotp commented on #39
Works now thank you!

[2022-05-03 18:17] Qwokka commented on #35
I'm assuming the fix above worked, but feel free to re-open this (Or create a new issue) if you have more problems.

[2022-05-07 18:44] lizelive opened #40 "sorry if this was asked before but why isn't this on the webstore?"

[2022-05-10 03:04] Qwokka commented on #40
Hi @lizelive

The short summary is that submitting things to the Chrome webstore requires a bunch of explanations of what the extension does, why it needs certain permissions, etc. And the description effectively saying "this tool is made to hack things" probably didn't help assure the reviewer it was trustworthy. Last time I submitted the extension it got stuck for so long I think I just forgot t

[2022-05-21 16:02] xzeroun opened #41 "Wait for WASM - Flyff Universe"
Whenever I try to open up Cetus with flyff universe open, it keeps giving me the Waiting for WASM message. I'm fairly confident this is a WASM game according to the dev tools. Please let me know if it is just something I am doing wrong as I'd love to utilize this. Thanks!

https://i.imgur.com/lXuOo2V.png

https://universe.flyff.com/play

[2022-05-22 00:51] Qwokka commented on #41
Hey @xzeroun

Thanks for providing so much information with your issue!

Could you try with the latest release that I just pushed? https://github.com/Qwokka/Cetus/releases/tag/v1.03

Flyff is working for me with this latest version, so hopefully it'll work for you as well.

Thanks!
Jack

[2022-05-23 02:02] xzeroun commented on #41
Yep, it now works. Time to learn how to use this now :). Thanks!!!

[2022-07-06 17:11] johmarjac commented on #41
I have same issue, Wait For WASM, with v1.03.1

[2022-07-06 19:25] Qwokka commented on #41
Hi @xzeroun ,

Sorry I didn't see your message earlier. Github doesn't alert that comments have been edited so I never got a notification. I'm able to do a handful of things such as locating my X,Y,Z coordinates and modifying them. What specifically are you having trouble with?

[2022-07-06 19:26] Qwokka commented on #41
Hi @johmarjac

I'm testing this right now and it seems to work fine. Do you have any errors in your browser console when you run the game with Cetus installed?

[2022-07-17 16:09] Tamim1357 opened #42 "Cetus is not working at all"
The newest cetus version, 1.3 isnt working on any websites. (I also tried it on the tank demo game)
Looking into the console while using 1.3, shows  "🐙 CETUS   WebAssembly.instantiateStreaming() intercepted", and not "🐙 CETUS   WebAssembly.instantiate() intercepted"  too
I think because of this, none of the features work - no speedhacking, no searching

Version 1.0 works fine on the tank game demo

[2022-07-17 16:13] Qwokka commented on #42
Sounds like another Chromebook issue. Luckily I now own a Chromebook to test on, so I'll see if I can figure out the issue this time. Thanks for the report @Tamim1357 !

[2022-07-17 16:22] Tamim1357 commented on #42
Ok thanks, hope you can fix the issue with chromebooks, i use cetus for fun alot.

[2022-07-26 05:56] k0gasa commented on #41
Can confirm, working well on my end as well

[2022-08-22 12:32] testitm opened #43 "Question: How to call functions?"
Can Cetus not just patch functions, but call them too?
Also, are there any chances to trace function calls?

[2022-08-25 00:05] Qwokka commented on #43
Hey @testitm

Cetus doesn't support those features, but they are pretty easy to implement using the underlying WASM modification library, [WAIL](https://github.com/Qwokka/WAIL).

I created a couple examples. This first one demonstrates exporting an internal function so it can be called arbitrarily:

https://gist.github.com/Qwokka/c1990823c24a801332da12d103ef9a0a

The second demonstrates basic func

[2022-08-28 13:30] testitm commented on #43
I appreciate it!

[2022-08-30 13:56] noorabdo2 opened #44 "Question: can i use pointers with Cetus?"
Hi I'm playing a  WebAssembly game, i want to change my avatar position i found the addresses I'm searching for and tried to change the value and it worked, but every time i transfer to another room or reloading the game i have to walk through that process again which is kinda boring and time wasting i was using cheat engine so i tried to search for pointers and found it is impossible so is is pos

[2022-08-30 22:59] Qwokka commented on #44
Hi @noorabdo2

Unfortunately Cetus doesn't support Cheat Engine-style pointer scanning. I think you can get a similar effect (Not having to find an address every time something changes) with a process like this:

1. Find the address of your coordinates
2. Set a *read* watchpoint on this address
3. Take note of the function and instruction that triggers the watchpoint

Then to find the address agai

[2022-08-30 22:59] #43 closed

[2022-08-30 22:59] #41 closed

[2022-08-31 15:49] noorabdo2 commented on #44
Hi thanks for responding, i can do the 3 first steps
i got the function and instructions here
wasm-function[28607]:20450423

[code]
but I'm not familiar with browser debugger tool and still newbie at this

Can you explain the last two steps in more detail, thank you very much.

[2022-09-01 23:38] Qwokka commented on #44
Are you sure that's the instruction that's triggering the read watchpoint? There doesn't seem to be a memory load there. If you can find the instructions triggering the watchpoint I'll put together a more detailed example.

Alternatively, if you're comfortable sharing the game you're looking at I can give it a shot.

[2022-09-02 14:50] noorabdo2 commented on #44
Thank you very much, it's just a game I used to play in my childhood
it's name is woozworld i'm looking for XZ value type f32
there's 6 addresses for player X and another 6 for player Z there's no addresses for Y because it's 2D
like this : https://ibb.co/dQySLP1

to actually change the player X or Z i tried to change only 1 address  and it doesn't worked i had to change 2 Addresses values to actu

[2022-09-05 22:40] Qwokka commented on #44
Hi @noorabdo2

Sorry for the delay, I spent a bit more time on this than I expected. Long story short, this was a good excuse for me to implement something I've been meaning to do for a long time - adding features to Cetus patches.

So with that in mind, I think I've got a decent solution for you. First off, you'll need to install the latest git version of Cetus by running this command:

`git clon

[2022-09-06 19:19] testitm opened #46 "Unexpected addresses using Range search + error with byte search"
Hey!
Sorry to bother you! I found your project very interesting and spent a lot of time debugging an online game for fun.

But I found some problems with Cetus.
1) Range search.
You can see on the screenshot, that address in search results is not bounded by Range values.
<img width="500" alt="Screenshot 2022-09-06 at 22 06 17" src="https://user-images.githubusercontent.com/87523283/188719969-2fd05

[2022-09-06 19:31] testitm commented on #46
Oh, the Range problem depends on the value type. So Range works as desired when I chose i8 instead of i32.

[2022-09-08 02:55] Qwokka commented on #46
Hey @testitm

Thanks for catching this! I've confirmed this and I see why it's going on. Unfortunately I don't have time to fix it this evening. I'm hoping to have it fixed tomorrow.

Jack

[2022-09-08 12:18] testitm commented on #46
No problem, thank you anyway :)
Great tool, I will try to fix some UI problems in future, I hope :)

[2022-09-11 18:19] Qwokka commented on #46
I think this is now fixed with fab16cb9908f10dc8de1a42a20a780b9d52b7b73

Please let me know if you have more issues. Thanks again for pointing this out!
Jack

[2022-09-12 19:06] noorabdo2 commented on #44
When i try to import the patch it doesn't get imported when i click show patches i can't find it there

[2022-09-14 02:05] Qwokka commented on #44
Are you using the git version by running the command I posted? The latest release won't have the new features I added to support this.

If you're still having issues with the git version I'll look into it, but it seems to be working for me.

[2022-09-14 10:24] noorabdo2 commented on #44
Oh it's working, my bad I didn't used the last version. It's working very good too, thanks 🙏

[2022-09-14 10:24] #44 closed

[2022-09-18 13:42] testitm commented on #46
Hey!
Found it broken https://github.com/Qwokka/Cetus/commit/fab16cb9908f10dc8de1a42a20a780b9d52b7b73#r84304655

[2022-09-20 02:02] Qwokka commented on #46
Whoops, this should be fixed with de68f098b4f441575606a9582e00b687edab6e29

[2022-11-03 21:13] myf201301 opened #47 "Speedhack manual set is not working"
I have Cetus loaded and I type in cetus.speedhack.multiplier  = 0.5 and it gives me an error. Cetus speedhack still works. Any fixes please?

[2022-11-04 18:42] myf201301 commented on #47
@Qwokka @binary-person

[2022-11-06 21:00] Qwokka commented on #47
Hi @myf201301

What error are you getting? Probably something like `cetus is not defined` or `Cannot read properties of null`?

If that's the case you're probably in a different window context than the game. If you're using Chrome you can change this by using this dropdown from the dev tools:

![image](https://user-images.githubusercontent.com/7696485/200194854-3154d9a1-5f69-48b5-b0f5-75a9459fa6e1

[2022-11-06 21:01] #46 closed

[2022-11-07 19:41] myf201301 commented on #47
unrepresentable in integer range
    at 0613813e:0x2b8160
    at 0613813e:0x2b7d16
    at 0613813e:0x2afae9
    at 0613813e:0x5a9b88
    at 0613813e:0x5a7b35
    at 0613813e:0x168606f
    at UnityLoader.cfca1f89de71de7139a3eea12a44d7e7.Module.dynCall_v (83e41970-5c5e-4843-8bab-b13a1786395c:17146:86)
    at browserIterationFunc (83e41970-5c5e-4843-8bab-b13a1786395c:9115:30)
    at Object.runIter (8

[2022-11-07 19:43] myf201301 commented on #47
@Qwokka

[2022-11-07 19:47] myf201301 commented on #47
only happens if theres a decimal notation.

[2022-11-07 23:32] Qwokka commented on #47
I can replicate this by setting the multiplier to 0.01 or smaller, does that match your experience?

Having that small of a multiplier triggers an exception in what appears to be the FPS calculation. This doesn't appear to be an issue on all Unity games though. I think this depends on the value of the `WebAssembly Arithmetic Exceptions` setting of the game (Though I haven't tested this).

Unfortun

[2022-11-07 23:35] Qwokka commented on #38
I think I was able to track down the phantom Chromebook issue finally with 3c7413e6fe65cfaee9a87d9060ba7cad08330445

If any Chromebook users happen upon this thread, please let me know if you continue to have issues after the above commit.

[2022-11-08 16:46] myf201301 commented on #47
@Qwokka i set it to 0.25

[2022-11-08 16:46] myf201301 commented on #47
0.5, .75 and it just crashes. The game is Slope 3D (Y8 Version)

[2022-11-11 04:48] Qwokka commented on #47
I'm having trouble replicating the issue myself. Trying it on https://www.y8.com/games/slope I was able to set the multiplier down to 0.001 without the game crashing. Even still, I think I have an idea of what might help. Can you try with the latest git version after the commit e522845dce5fe0b4112922a9ee5cb623dae52db5?

Thanks!
Jack

[2022-11-14 19:51] myf201301 commented on #47
@Qwokka now im getting a Wail error (wailparser is not defined)

[2022-11-16 03:43] Qwokka commented on #47
Can you make sure you're cloning like so?

`git clone https://github.com/Qwokka/Cetus --recursive`

[2022-11-16 19:19] myf201301 commented on #47
@Qwokka Im on chromebook

[2022-11-18 04:26] Qwokka commented on #47
I'm guessing this is an issue with Chrome OS in this case. I'm out of town but when I get back home I'll test this on Chromebook and see if I can figure out what's going on.

Jack

[2022-11-19 11:29] xko2x2 opened #48 "ascii search bookmark first value only"
if you bookmarked an ascii address you can edit only the first character(first ascii)
![image](https://user-images.githubusercontent.com/118509607/202848381-67b5974f-e241-4609-96f9-fa7726faedcc.png)
![image](https://user-images.githubusercontent.com/118509607/202848403-5261e61f-d51d-40b5-9d96-7377c1b30be7.png)

[2022-11-19 11:33] xko2x2 commented on #48
@Qwokka @binary-person

[2022-11-20 21:05] Qwokka commented on #48
Hi @xko2x2

I'm not really sure why @/binary-person has been tagged in the last few issues, but out of respect for their time I'd ask that they (And other contributors besides me) only be tagged in issues related to their commits. I appreciate it!

Anyway, you're right that Cetus doesn't have a good UI for editing strings (Or really anything variable-length). I'll add this as a possible enhancemen